@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url('/bg_page.png') no-repeat center center fixed;
  background-size: cover;
  /* Fallback color if image not loaded */
  background-color: #181A1B;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
